.products-form{
    max-width: 1230px;
    margin: 0 auto;
}
.products-form__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.products-form__title{
    font-size: 24px;
}
.products-form__register-btn{
    background-color: #f5c800;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.products-form__inner{
    display: flex;
    width: 100%;
}
.products-form__sidebar{
    width: 20%;
}
.products-form__main{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.products-card {
    margin: 0 20px;
    width: 28%;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.products-card__img-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.products-card__img {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}

.products-card__body {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.products-card__name,
.products-card__price {
    margin: 0;
    font-size: 16px;
}