.register-form{
    max-width: 600px;
    margin: 0 auto;
}

h2{
    font-size: 24px;
    padding-top: 20px;
}

.register-form__label{
    font-size: 16px;
}

.register-form__required{
    color: white;
    background-color: red;
    font-size: 12px;
    margin-left: 10px;
    padding: 2px 6px;
}

.register-form__input,
.register-form__textarea{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.register-form__input-image,
.register-form__select-inner {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.register-form__select{
    padding-left: 10px;
    font-size: 12px;
    color: red;
}

.register-form__btn-wrapper{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}

.register-form__back-link{
    text-decoration: none;
    font-size: 14px;
    background-color: #e0dfde;
    color: black;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.register-form__btn{
    background-color: #f5c800;
    font-size: 14px;
    color: black;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}